:root{
    --white: #F1F6FB;
    --red: #CD2224;
    --d_red: #70090C;
    --Gray: #5A5A5A;
    --gold: rgb(224, 176, 76);

}
main{
    background-color: var(--white);
    margin-top: 70px;
}

h1, h2, h3, .h1, .h2, .h3{
    color: var(--d_red);
    font-family: 'Marck Script', cursive;
}

ul li, h1, p{
    font-family: 'Marck Script', cursive;

}
.altFont{
    font-family: 'Courgette', cursive;
}

.text-dred{
    color: var(--d_red);
}

.text-red{
    color: var(--red);
}
.text-gold{
    color: var(--gold);
}

.bg-white{
    background-color: var(--white);
}
.bg-Gray{
    background-color: var(--Gray);
}

/* navbar */

.navbar{
    height: 70px;
    transition: 0.5s;
}
.bg-custom{
    background-image: linear-gradient(to Top, #F1F6FB, #f1f6fbaf, rgba(255, 255, 255, 0)) ,url(./Media/navbar-bg.png);
    background-size: cover;
    background-position: center;
}
.ul-custom{
    border-bottom: 3px solid var(--gold);
}
.nav-custom{
    width: 30vh;
    position: absolute;
}

.ul-custom li{
    transition: 0.3s;
}
.ul-custom li:hover{
    scale: 1.1;

}
.logo{
    width: 50px;
}

.nav-link{
    font-size: 20px;
    text-align: center;
    width: 100px
   
}
.toggler-custom{
    width: 50px;
    transition: 0.8s;
}

.pallino{
    position: relative;
}

.pallino::after{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--gold);
    
    top: 39px;
    right: 143px;

}

/* header */
.bg-header{
    
    width: 80vw;
    height: 500px;
    background-image: linear-gradient(#f1f6fb, #f1f6fbb6, rgba(224, 177, 76, 0),#5a5a5a06, #5a5a5a06, #5a5a5a06, #f1f6fb2f, #f1f6fb9d, #f1f6fb  ) ,url(./Media/Venezia.png);
    background-size: cover;
    background-position: center;
}
.presto-custom{
    font-size: 100px;
    letter-spacing: 10px;
    

}
.presto-height{
    height: 500px;
}

/* quote */
.deco-custom{
    width: 30vh;
}

/* reviews */
/* Swiper */

.swiper{
    height: 600px;
}

.card-review{
    height: 250px;
    width: 500px;
    border: 2px solid var(--red);
    border-radius: 20px;
}

.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-next{
    width: 75px;
   
}

.swiper-button-prev{
    width: 75px;
   
}



@media screen and (max-width: 767px) {
    .pallino::after{
       display: none;
    }
    
    .bg-header{
        height: 300px;
    }
    .presto-height{
        height: 300px;
    }
    .ul-custom{
        background-color: var(--white);
        background-image: linear-gradient( #f1f6fb, #f1f6fb,#f1f6fb64, #cd222521 , #cd22254d, #cd2225ad) ;
    }
}



/* articoli */

.accordion-item, .accordion-button{
    background-image: linear-gradient(#cd222500, #cd222500,#cd22252b, #cd222525);
    color: var(--d_red);
}

.accordion-button:not(.collapsed){
    color: var(--red);
    background-color: var(--white);
    box-shadow: none;
}

.accordion-button:focus{
    box-shadow: none;
}

.card-custom{

    width: 30%;
    border: 2px solid var(--Gray);
    background-color: rgba(213, 233, 231, 0.995);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.img-card{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}